.cardnews {
  padding: 0 20px;
}
.cardnews ul{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.cardnews ul li{
  aspect-ratio: 300 / 345;
  background: #ededed;
  border-radius: 50px;
  width: calc(20% - 20px);
}